@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Montserrat:600,700|Teko&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    color: #2e2e2e;
}

html, body {
    height: 100%;
    font-family: 'Merriweather', serif;
    letter-spacing: .01rem;
    line-height: 1.75rem;
    margin: 0;
}

.nav {
   min-width: 100%;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
}

.logo {
    display: flex;
    font-size: inherit;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.links {
    display: flex;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#menu-bars {
    font-size: 28px;
    padding: 7px;
    display: none !important;
}

.button {
    padding: .5rem 1rem;
    text-decoration: none;
    line-height: 1.125rem;
}

.button:hover {
    background-color: rgba(0, 116, 217, 0.1);
    color: rgb(0, 116, 217);
    transition: all 0.3s ease 0s;
}

.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.125);
}

.caps {
    text-transform: uppercase;
    letter-spacing: .2em;
}

.m1 {
   margin: 0px 1px;
}

.py1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header {
    min-width: 100%;
    background-color: #f5f8fa;
    padding: 2rem;
    text-align: center;
}

.wrapper {
    height: auto !important;
    height: 100%;
  
    /* Box-model */
    min-height: 100%;
  
    /* Positioning */
    margin: 0 auto -30px;
}

.push {
    height: 70px;
}

footer {
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #aaaaaa;
    text-align: center;
    font-size: 12px;
}

.border-top {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(0,0,0,.125);
}

/* Home page */ 

.header img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.125);
    background-color: #fff;
    padding: .5rem;
    margin: 0 auto;
}

.name {
    display: block;
    width: 100%;
    font-family: 'Merriweather', serif;
    letter-spacing: .1rem;
    margin: 15px 10px 10px 10px;
}

.index-caption {
    display: block;
    width: 100%;
    font-family: 'Merriweather', serif;
    letter-spacing: .1rem;
    color: rgb(0, 116, 217);
    margin: 0px 10px 0px 10px;
}

.index-container {
    max-width: 700px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 1em;
    margin: 40px auto;
    align-content: center;
}

.about-title {
    margin: 10px 0px;
    font-size: 22px;
}

.contact-title {
    margin: 10px 36px;
    font-size: 22px;
}

.about p {
    width: 95%;
    font-weight: 400;
    text-align: left;
    padding: 0px;
    align-content: right;
}

.contact ul {
    list-style: none;
}

.contact ul > li > a {
    text-decoration: none;
    font-size: 14px;
}

.contact ul > li > a > i {
    font-size: 24px;
}

.contact ul > li > a > i:hover {
    color: rgb(0, 116, 217);
}

.contact ul > li > a:hover {
    color: rgb(0, 116, 217);
}

.contact ul > li > span {
    font-size: 14px;
}

.contact ul > li > i {
    font-size: 24px;
}

/* Project Page */

.project-caption {
    display: block;
    width: 100%;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    letter-spacing: .1rem;
    color: rgb(0, 116, 217);
    margin: 15px 10px 0px 10px;
}

.projects-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
    grid-auto-rows: minmax(225px, auto);
    padding: 1em;
    margin-top: 20px;
}

.nested {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid rgba(0,0,0,.125);
    padding: 1em;
    align-content: center;
    justify-items: center;
}

.project-image img {
    height: 200px;
    width: 300px;
    border: 1px solid rgba(0,0,0,.125);
    padding: .5rem;
}

.project-content {
    font-family: 'Merriweather', serif;
}

.project-content p {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    text-align: left;
    margin-top: 8px;
}

.project-button {
    margin-top: 10px;
    margin-right: 8px;
    font-size: 18px;
    border-radius: 8px;
}

.project-button i:hover {
    color: rgb(0, 116, 217);   
}

.link-button {
    padding: .1rem;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    letter-spacing: .04rem;
}

.link-button:hover {
    color: rgb(0, 116, 217);
}

.project-push {
    height: 70px;
}

/* Resume Page */

.resume-container {
    position: relative;
    left: 5%;
}

.resume-image img {
    width: 90%;
    margin: 40px auto;
    border: 1px solid rgba(0,0,0,.125);
    padding: .5rem;
}

.resume-push {
    height: 70px;
}

/* Photos Page */
.photos-container {

}

.photos {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.125);
    padding: .5rem;
}

#peru-group {
    height: 600px;
    width: 800px;
}

.my-photos {

}

.pup {    
    height: 200px;
    width: 250px;

}

#skydive {
    height: 300px;
    width: 400px;

}

.photos-push {
    height: 70px;
}

@media only screen and (max-width:1380px) {
    /* Project Page */
    .nested {
        grid-template-columns: repeat(1, 1fr);
        justify-items: stretch;
    }

    /* Photos Page */
    

}

@media only screen and (max-width: 960px) {

}
  
@media only screen and (max-width: 768px) {
    .wrapper {
        position: relative;
        overflow-x: hidden;
    }

    .nav {
        min-width: 100%;
        height: 51px;
    }

    .links {
       width: 100%;
       position: absolute;
       top: 51px;
       display: flex;
       flex-flow: column;
       align-content: space-between;
       transform: translateX(100%);
       transition: transform 0.8s ease;
    }
    
    .page-move {
       width: 100%;
       position: absolute;
       top: 51px;
    }

    .toggle-page-move {
        width: 100%;
        position: absolute;
        top: 204px;
    }

    #menu-bars {
       display: block !important;
       position: absolute;
       top: 5px;
       right: 10px; 
    }

    .nav-active {
        transform: translateX(0%);
    }

    .push {
        height: 700px;
    }

    /* Home Page */
    .index-container {
        grid-gap: 0em;
        margin: 40px 24px;
    }
    
    .contact-title {
        margin: 10px 22px;
    }

    .contact ul{
        margin-left: -14px;
    }

    /* Project Page */
    .projects-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .nested {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-image img {
        width: 275px;
    }

    .project-push {
        height: 2600px;
    }

    /* Resume Page */
    .resume-push {
        height: 1300px;
    }

    /* Photos Page */

}

@media only screen and (max-width: 648px) {
    .push {
        height: 800px;
    }

    /* Home Page */   
    .index-container {
        grid-template-columns: 1fr;
        grid-gap: 0.9em;
        margin: 40px;
    }

    .about-title {
        margin: 8px 0px;
    }
            
    .contact-title {
        margin: 10px 0;
    }
    
    .contact ul{
        margin-left: -36px;
    }

    /* Project Page */
    .nested {
        grid-template-columns: repeat(1, 1fr);
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.125);
    }

    .project-image img {
        width: 300px;
    }

    .project-push {
        height: 3650px;
    }

    /* Resume Page */
    .resume-push {
        height: 1100px;
    }

    /* Photos Page */

}

@media only screen and (max-width: 460px) {
    .push {
        height: 900px;
    }

    /* Home Page */    
    .index-container {
        margin: 30px 40px;
    }

    /* Project Page */
    .project-push {
        height: 4000px;
    }

    /* Resume Page */
    .resume-push {
        height: 850px;
    }

    /* Photos Page */

 
}
@media only screen and (max-width: 360px) {
    .push {
        height: 1000px;
    }

    /* Project Page */    
    .project-image img {
        width: 250px;
    }

    .project-push {
        height: 4200px;
    }

    /* Resume Page */    
    .resume-push {
        height: 800px;
    }

    /* Photos Page */
}